:root{
  font-size: 20px;
}
body{
  background-color: black;
  padding: 15px 0px;
  margin: 7px 0px;
}

.logo{
  margin: 0px 0px 0px 0px;
  padding: 8px 2px 2px 2px;
  display: inline-block;

}
h1{
  font-weight: normal;
  font-size: 2.5em;
  text-align: center;
}
#logo{
  color: white;
  position: relative;
  font-family: 'Press Start 2P', cursive;
  float: left;
  font-size: 1.7em;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.centrado{
  align-content: center;
  text-align: center;
  margin: auto;
}
.contenedor{
  background-color: white;
  padding-top: 15px;
  width: 97%;
}
#cuerpo{
  width: 93%;
  border: solid 26px;
  border-color: black;
  background-color: black;
  color: black;
  text-emphasis-color: white;
  font-family: 'VT323', monospace;
}
.glitch {
  position: relative;
}
.glitch::before,
.glitch::after {
  content: attr(data-title-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 98%;
  height: 100%;
}
.glitch::before {
  clip: rect(0, 1000px, 51px, 0);
  animation: noise-anim-1 1s infinite linear alternate-reverse;
  left: 1px;
  text-shadow: -1px 0 blue;
}
.glitch::after {
  clip: rect(0, 1000px, 51px, 0);
  animation: noise-anim-2 1s infinite linear alternate-reverse;
  left: -1px;
  text-shadow: 1px 0 red;
}
@keyframes noise-anim-1 {
  0% {
    clip-path: inset(39% 2% 62% 0);
  }
  20% {
    clip-path: inset(90% 0 5% 0);
  }
  40% {
    clip-path: inset(40% 0 7% 0);
  }
  60% {
    clip-path: inset(25% 0 58% 0);
  }
  80% {
    clip-path: inset(54% 0 7% 0);
  }
  100% {
    clip-path: inset(58% 0 43% 0);
  }
}
@keyframes noise-anim-2 {
  0% {
    clip-path: inset(59% 0 41% 0);
  }
  20% {
    clip-path: inset(2% 0 93% 0);
  }
  40% {
    clip-path: inset(43% 0 1% 0);
  }
  60% {
    clip-path: inset(58% 0 25% 0);
  }
  80% {
    clip-path: inset(7% 0 54% 0);
  }
  100% {
    clip-path: inset(43% 0 58% 0);
  }
}
nav{
  border: solid 0.2em white;
  margin: 0;
  text-align: left;
  position: sticky;
}
footer{
  height: 150px;
  width: 100%;
  border: solid 0.2em white;
  margin: 0;
  text-align: left;
  color: white;
  
}
.accesos{
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: inline;
  }

.accesos li{
  float: right;
  display: inline-block;
  text-align: center;
  
}
.accesos li a{
  margin: 0;
  display: block;
  padding: 14px 14px 19px 14px;
  text-decoration: none;
  font-size: large;  
  color: white;
  
}
.navlink:hover {
  position: relative;
  background-color: white;
  color: black;
}
.navlink::before,
.navlink::after {
  content: attr(data-title-text);
  position: absolute;
  top: 5;
  left: 0;
  width: 98%;
  height: 100%;
}
.navlink::before {
  clip: rect(0, 200px, 40px, 0);
  animation: noise-anim-1 1.3s infinite linear alternate-reverse;
  left: 1px;
  text-shadow: -0.8px 0 blue;
}
.navlink::after {
  clip: rect(0, 200px, 40px, 0);
  animation: noise-anim-2 1.3s infinite linear alternate-reverse;
  left: -1px;
  text-shadow: 0.8px 0 red;
}
@media screen and (max-width: 620px) {
  .accesos li {display:inline; float: none;}
  #logo{font-size: 1.38em; display: inline-flex;}
  .logo{margin: auto; width: 100%; display: flex; justify-content: center; padding-bottom: 10px;}
  .contenedor{padding-top: 0px;}
}
@media screen and (max-width:550px){
  #logo{
    font-size: 1em;
  }
}