body{
  background-color: rgba(0, 0, 0, 1);
  padding-top: 15px;
  margin-top: 7px;
}

.logo{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 40px;
  text-align: left;
  display: block;
  position: absolute;

}
#logo{
  color: white;
  position: relative;
  font-family: 'Press Start 2P', cursive;
  display: inline-block;
  font-size: 2.5em;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.centrado{
  align-content: center;
  text-align: center;
  margin: auto;
}
.contenedor{
  background-color: white;
  padding-top: 20px;
  width: 98%;
}
#cuerpo{
  width: 93%;
  border: solid 26px;
  border-color: rgba(0, 0, 0, 1);
  height: 1000px;
  background-color: black;
  color: white;
  font-family: 'VT323', monospace;
}
p{
  margin: 15px 15px 15px 15px;
  text-align: justify;
}
.glitch {
  position: relative;
}
.glitch::before,
.glitch::after {
  content: attr(data-title-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.glitch::before {
  color: black;
  left: 0px;
  clip: rect(0, 1000px, 21px, 0);
}
.glitch::after {
  clip: rect(0px, 1200px, 70px, 0px);
  animation: noise-anim 2s infinite linear alternate-reverse;
  left: -2px;
  text-shadow: 1px 0 black;
  color: white;
}
@keyframes noise-anim {
  0% {
    clip-path: inset(40% 0 61% 0);
  }
  20% {
    clip-path: inset(92% 0 1% 0);
  }
  40% {
    clip-path: inset(43% 0 1% 0);
  }
  60% {
    clip-path: inset(25% 0 58% 0);
  }
  80% {
    clip-path: inset(54% 0 7% 0);
  }
  100% {
    clip-path: inset(58% 0 43% 0);
  }
}
nav{
  margin-top: 20px;
}
