#cuerpo {
	background-color: #000;
	background-image: linear-gradient(rgba(255, 255, 255, 0.02) 1.5px, transparent 1px),
		linear-gradient(90deg, rgba(255, 255, 255, 0.02) 1.5px, transparent 1px),
		linear-gradient(rgba(255, 255, 255, 0.02) 1px, transparent 1px),
		linear-gradient(90deg, rgba(255, 255, 255, 0.02) 1px, transparent 1px);
	background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.capsule:hover,
.grid-item:nth-child(n + 2):hover {
	box-shadow: 0 0 20px #444a;
	transform: scale(1.1);
}
.grid-item,
.capsule {
	transition: transform 0.7s;
}
